name: CI

on:
    push:
        branches: [main]
    pull_request:

permissions:
    contents: read

jobs:
    build:
        runs-on: macos-latest # for the broadest test compatibility
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  fetch-tags: true
                  submodules: recursive
            - uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 21
            - run: ./gradlew build

    build-docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  fetch-tags: true
                  persist-credentials: false
            - uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 21
            - run: ./gradlew :mkdocsBuild
            - uses: actions/upload-pages-artifact@v4
              with:
                  path: build/mkdocs

    check-format:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            checks: write
            issues: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  fetch-tags: true
                  persist-credentials: false
            - uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 21
            - uses: pre-commit/action@v3.0.1
              with:
                  extra_args: --all-files --hook-stage manual
            - if: ${{ github.event_name == 'pull_request' && always() }}
              uses: reviewdog/action-suggester@v1
              with:
                  tool_name: format
                  fail_level: any
                  filter_mode: diff_context

    # stub to use as a "required" check on github
    all-good:
        needs: [build, check-format, build-docs]
        runs-on: ubuntu-latest
        steps:
            - run: echo 'All checks passed!'
